body {
	background: red;
	border: 1px solid rgba(255, 0, 255, 0.5);
	font: "Times New Roman", serif;
	color: #000;
}

body > header {
	background: goldenrod;
}

main {
	background: tomato;
}

body > footer {
	background: pink;
}
